
.info {
    flex-basis: 30%;
}

.charts {
    flex-basis: 70%;
}

.refresh-rate {
    position: absolute;
    right: 30px;
    top: 20px;
}

mat-card-title {
    font-size: 16px;
    font-weight: 700;
}
