
<mat-card class="dashboard-card" *ngIf="ready">
  <mat-card-header>
    <mat-card-title>System: {{ cpuStatus.operatingSystem }}</mat-card-title>
    <mat-card-subtitle>Architecture: {{ cpuStatus.architecture }}</mat-card-subtitle>
    <cpumonitor-refresh-rate class="refresh-rate" [rate]="refreshRate" (rateChangeEvent)="updateRefreshRate($event)"></cpumonitor-refresh-rate>
  </mat-card-header>

  <mat-divider></mat-divider>

  <div class="dashboard-content">
    <aside class="info">
      <cpumonitor-stat-item [label]="'CPU Load'" [value]="cpuStatus.cpuLoad | percent"></cpumonitor-stat-item>
      <cpumonitor-stat-item [label]="'Total Memory'" [value]="cpuStatus.totalMemory | toGB" [unit]="'GB'"></cpumonitor-stat-item>
      <cpumonitor-stat-item [label]="'Free Memory'" [value]="cpuStatus.totalFreeMemory | toGB" [unit]="'GB'"></cpumonitor-stat-item>
      <cpumonitor-stat-item [label]="'Used Memory'" [value]="usedMemory()" [unit]="'GB'"></cpumonitor-stat-item>
    </aside>

    <section class="charts">
      <cpumonitor-cpu-chart
        [cpuLoadData]="monitorService.cpuLoadHistory"
        [times]="monitorService.timestampHistory"></cpumonitor-cpu-chart>

      <cpumonitor-monitor-chart 
        [freeMemoryData]="monitorService.freeMemoryHistory" 
        [totalMemoryData]="monitorService.totalMemoryHistory" 
        [times]="monitorService.timestampHistory"></cpumonitor-monitor-chart>
    </section>
  </div>

</mat-card>

<mat-progress-bar mode="indeterminate" *ngIf="!ready"></mat-progress-bar>